@{
    ViewData["Title"] = "Home Page";
}

<main>

    <h2>Task</h2>
    <ul>
        <li>
            Implement APIs for registration and login using Authentication with Identity using the connected database (Users table). Also, implement validations using data annotations.
        </li>
        <li>
            Implement views for user registration and login operations through the database.
        </li>
        <li>
            Configure role-based authorization (Roles table) through an admin user.
        </li>
        <li>
            Explore authorizing and controlling access and view of functions based on the role of the accessing user.
        </li>
    </ul>

    <h2>Note</h2>
    <ul>
        <li>
            Task is implemented under Student Controller, Auth Controller, Service, Repository and Views.
        </li>
        <li>
            The normal user can only view the Student list and details of particular student but can not create, edit or delete a new student record.
        </li>
        <li>
            Admin user can perform all operations on student records.
        </li>
    </ul>


</main>
