@{
    ViewData["Title"] = "Home Page";
}

<main>

    <h2>Task</h2>
    <ul>
        <li>
            Implement APIs for CRUD operations on the student model using EF Core.
        </li>
        <li>
            Create views for the CRUD operations with the following functionality: (Index, Create, Edit, Details, and Delete with confirmation popup).
        </li>
        <li>
            Implement ViewModels and configure AutoMapper (Mapper.CreateMap<>) for mapping domain models to view models.
        </li>
        <li>
            Understand Model Binding, HTTP Status Codes, Input/Output Formatters and Content Navigation for API responses.
        </li>
    </ul>


    <h2>Note</h2>
    <ul>
        <li>
            Task is implemented under Student Controller, Service, Repository and Views.
        </li>
        <li>
            Auto Mapper bining profile class is inside Practical18.Infrastructure\Mappers directory and used inside the Student Service.  
        </li>
    </ul>


</main>
